rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read access to all menu images
      allow read: if true;
      
      // Temporarily allowing write access for any authenticated user to troubleshoot
      allow write: if request.auth != null;
    }
  }
}
